
.search-container{
    margin-top: 1rem;
}
.poss{
    margin-left: 45px;
}

.search-button{
    margin-right: 10px;
}
 
@media (min-width: 1200px) {
    .client-card {
        width: 27rem;
    }
    .margin-search-desktop{
        margin-left: 18px;
        margin-right: 18px;
    }
    .placement-top{
        margin-left: 28px;
        margin-right: 30px;
    }
  }

@media (max-width: 1200px) {
    .client-card {
        width: 22rem;
    }
  }
