
.search-container{
    margin-top: 1rem;
}
.poss{
    margin-left: 45px;
}
.search-button{
    margin-top: 15px;
  }
 

  @media (min-width: 1200px) {
    .client-card {
        width: 27rem;
    }
    .margin-search-desktop{
        margin-left: 18px;
        margin-right: 18px;
    }
  }

@media (max-width: 1200px) {
    .client-card {
        width: 22rem;
    }
  }
