.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: #e1e2e1;
 }

 .bordo{
     border-radius: 10px;
 }

 .centrami {
    vertical-align: middle;
 }

 @media (max-width: 1200px) {
   .column-margin {
     margin: 10px 0;
   }
 }