
@media (min-width: 1200px) {
    .login-placement{
        margin-top: 32px;
        margin-right: 23px;
    }
  }
  
  /*modalità smartphone*/
  @media (max-width: 1200px) {
      .login-placement{
          margin-top: 32px;
          margin-right: 17px;
      }
      .distanza{
          margin-top: 50px;
      }
  }